/* Universal Styles */
* { 
    padding: 0;
    margin: 0;
}

canvas {
    background: rgb(230,230,250);
    display: block;
    margin: 0 auto;
    box-shadow: 1px 1px 15px rgba(30, 30, 30, .4);
    border: 1px solid rgba(30, 30, 30, .6);
}

#mainContainer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0.1turn, rgb(180, 140, 140), rgb(140, 140, 180));
}

#title {
    color: rgba(245, 140, 180, .98);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Bungee', cursive;

    padding-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(30, 30, 30, .8),
                -1px 1px 2px rgba(30, 30, 30, .8),
                1px -1px 2px rgba(30, 30, 30, .8),
                -1px -1px 2px rgba(30, 30, 30, .8);
}

#score {
    font-family: sans-serif;
    color: rgb(252, 252, 252);
    font-size: 3rem;
    font-weight: 800;
    padding-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 32vw;
    text-shadow: 1px 1px rgba(30, 30, 30, .4),
                -1px 1px rgba(30, 30, 30, .4),
                1px -1px rgba(30, 30, 30, .4),
                -1px -1px rgba(30, 30, 30, .4);
}

#LivesView {
    display: flex;
    flex-wrap: wrap;
    
    height: 8rem;
    width: 60vw;
    margin:auto;
}

.life {
    margin-right: 1rem;
    padding: 4px;
    box-shadow: 1px 1px 8px rgba(30, 30, 30, .4);
}